# Ignora los directorios que no son necesarios en la imagen
node_modules
npm-debug.log
Dockerfile
.dockerignore
.env
.env.development
.git
.gitignore
README.md

# Ignora los archivos de caché de npm
npm-cache
