@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.container-Cursos {
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;

}

.TitleCursos {
    background-color: #ffff;
    padding-bottom: 2%;
}

.TitleCursos h3,
.subtCursos {
    text-align: center;
}

.TitleCursos h3 {
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.TitleCursos p {
    font-style: italic;
}

.curso-name {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;
}

.cursos {
    background-color: #ffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    gap: 30px;
    padding: 1.5%;
    padding-bottom: 60px;
}

.cursos img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    object-fit: contain;
    z-index: 1;
    display: block;
}

.icono-premium {
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    left: 190px;
    top: 1%;
}

.icono-gratis {
    position: absolute;
    z-index: 1;
    background-color: rgb(11, 169, 11);
    color: #ffff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    border-radius: 5px;
    right: 2%;
    top: 1%;
}

.icono-acceso-inmediato {
    position: absolute;
    z-index: 1;
    top: 33%;
    right: 2%;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(223, 6, 6);
    color: #ffff;
    border-radius: 5px;
    padding: 4px;

}

.cont-curso {
    position: relative;
    display: inline-block;
    width: 420px;
    height: 530px;
    border-radius: 10px;
    box-shadow: 0 0 1cap rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.cont-curso h4 {
    text-align: center;
    padding: 10px;
}

.cont-curso li {
    padding: 2px;
}

.descr-cur {
    width: 95%;
    height: 210px;
    padding-left: 30px;
    padding-right: 10px;
    bottom: 0;
    position: relative;
    overflow-y: hidden;
    transition: overflow-y 0.3s ease;
    color: rgb(128, 128, 129);
    font-family: 'Poppins', sans-serif;
}

.cont-curso:hover .descr-cur {
    overflow-y: auto;
}

.descr-cur::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.descr-cur::-webkit-scrollbar-thumb {
    background-color: #cdc9c9;
    border-radius: 4px;
}

.pie-curso {
    position: absolute;
    bottom: 3%;
    left: 30px;
    color: rgb(128, 128, 129);
    justify-content: right;
    font-size: 12px;
}

@media(max-width:700px) {
    .container-Cursos {
        margin-top: 50px;
    }

    .cursos {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 100px;
        padding-top: 50px;
    }
}

@media(max-width:460px) {
    .container-Cursos {
        width: 460px;
        margin: 0px;
        padding-top: 60px;
    }

    .cont-curso {
        margin: 0px;
        margin-left: 15px;

    }

    .subtCursos {
        padding: 5px;
    }

    .cursos {
        padding: 0%;
        gap: 15px;
        width: 450px;
    }


}