.container-olvido {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(252, 252, 252);
}

.container-forgot-contenido {
    width: 40%;
    padding: 20px;
    text-align: center;
    display: block;
    position: absolute;
}

.logo-mkdpt-reset {
    left: 36%;
    top: 4.5%;
    position: absolute;
    width: 180px;
    height: 70px;
    z-index: 2;
}
input {
    width: 70%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
}
.input-pass{
    width: 92.5%;
    margin-left: 20px;
}
.logo-reset-pass {
    width: 500px;
    height: 190px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}


.title-reset-pass {
    position: absolute;
    color: #ffff;
    z-index: 3;
    left: 22%;
    top: 39%;
    text-shadow:
        1px 1px 0 #000;
}

#mensaje {
    color: red;
    padding: 0;
    margin: 0;
}

.cont-registrarse {
    display: flex;
    justify-content: left;
    margin-left: 85px;
    width: 40%;
}

.cont-registrarse p {
    align-content: flex-start;
}

.cont-registrarse a {
    color: inherit;
}

.cont-registrarse p:visited {
    color: inherit;
}
.texto-reset-pass{
    width: 70%;
    font-size: 10px;
    color: #afaeae;
    margin-left: 88px;
    margin-bottom: 20px;
    text-align: left;
}
#user-name-reset{
    margin: 10px; 
}

.enlace-volver{
    margin-top: 15px;
    margin-left: 20px;
    font-size: 14px;
}

@media(max-width:700px){
    .container-forgot-contenido{
        width: 700px;
    }
    .texto-reset-pass{
        margin-left: 100px;
    }
}

@media(max-width:460px){
    .container-forgot-contenido{
        width: 460px;
    }

    .logo-reset-pass{
        width: 360px;
        height: 170px;
    }

    .title-reset-pass{
        top: 35%;
        left: 19%;
        font-size: 20px;
    }

    .texto-reset-pass{
        margin-left: 63px;
        text-align: justify;
    }

    .enlace-volver{
        width: 70%;
        margin-left: -20px;
    }
}
