.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(252, 252, 252);
}

.container-login-contenido {
    width: 40%;
    padding: 20px;
    text-align: center;
    display: block;
    position: absolute;
}

input {
    width: 70%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
}

.logo-login {
    width: 500px;
    height: 190px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

.logo-mkdpt {
    left: 36%;
    top: 4.5%;
    position: absolute;
    width: 180px;
    height: 70px;
    z-index: 2;
}

.title-login-user {
    position: absolute;
    color: #ffff;
    z-index: 3;
    left: 30%;
    top: 34%;
    text-shadow:
        1px 1px 0 #000;
}

#mensaje {
    color: red;
    padding: 0;
    margin: 0;
}

.cont-registrarse {
    display: flex;
    justify-content: left;
    margin-left: 85px;
    width: 40%;
}

.cont-registrarse p {
    align-content: flex-start;
}

.cont-registrarse a {
    color: inherit;
}

.cont-registrarse p:visited {
    color: inherit;
}

.olvide-pass {
    width: 70%;
    font-size: 11px;
    color: #afaeae;
    font-size: 10px;
    margin-bottom: 15px;
    text-align: left;
    margin-left: 87px;
}

.olvide-pass a {
    color: inherit;
    color: #000;
}

.btn-submit-login {
    width: 150px;
    height: 50px;
    position: absolute;
    right: 17.3%;
    background-color: brown;
    color: #ffff;
    border: none;
    box-shadow: none;
    font-size: 16px;
    cursor: pointer;
}

@media(max-width:700px){
    .container-login{
        width: 700px;
    }
    .container-login-contenido{
        width: 680px;
    }
    .olvide-pass{
        margin-left: 103px;
    }
    .cont-registrarse2{
        margin-left: 20px;
    }
}

@media(max-width:460px){
    .container-login{
        width: 460px;
        text-align: left;
    }
    .container-login-contenido{
        width: 440px;
        padding: 0px;
        text-align: center;
    }
    .logo-login{
        width: 360px;
        height: 170px;
    }
    .logo-mkdpt{
        top: 0.5%;
        left: 31%;
    }
    .title-login-user{
        top: 25%;
        left: 23%;
    }
    .olvide-pass{
        width: 68%;
        margin-left: 70px;
        font-size: 15px;
        text-align: justify;
    }

    .cont-registrarse,
    .cont-registrarse2{
        width: 70%;
        margin-left: -15px;
    }
}