.container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125vh;
    background-color: rgb(252, 252, 252);
}

.container-register-contenido {
    width: 40%;
    padding: 20px;
    text-align: center;
    display: block;
    position: absolute;
}

.cont-password {
    display: flex;
    margin-left: 65px;

}

input {
    width: 70%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
}

.input-pass {
    width: 92.5%;
    margin-left: 20px;
}

.logo-login-register {
    width: 500px;
    height: 190px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
}

.logo-mkdpt-register {
    left: 36%;
    top: 4.5%;
    position: absolute;
    width: 180px;
    height: 70px;
    z-index: 2;
}

.title-register-user {
    position: absolute;
    color: #ffff;
    z-index: 3;
    left: 29%;
    top: 26%;
    text-shadow:
        1px 1px 0 #000;
}

#mensaje {
    color: red;
    padding: 0;
    margin: 0;
}

.cont-registrarse {
    display: flex;
    justify-content: left;
    margin-left: 85px;
    width: 40%;
}

.cont-registrarse p {
    align-content: flex-start;
}

.cont-registrarse a {
    color: inherit;
}

.cont-registrarse p:visited {
    color: inherit;
}

.recaptcha {
    margin-top: 15px;
    margin-left: 130px;
}

.error-captcha {
    margin-top: 10px;
    color: red;
}

@media(max-width:700px) {
    .container-register {
        width: 700px;
    }

    .container-register-contenido {
        width: 100%;
    }

    .cont-password {
        display: block;
        width: 485px;
        margin-left: 68px;
    }

    .cont-registrarse2 {
        margin-left: 25px;
    }

    .recaptcha {
        margin-top: 40px;
        margin-left: 150px;
    }
}

@media(max-width:460px) {
    .container-register {
        width: 460px;
    }

    .logo-login-register {
        width: 360px;
        height: 170px;
    }

    .logo-mkdpt-register {
        top: 3%;
        left: 31%;
    }

    .title-register-user {
        top: 20%;
        left: 23%;
    }

    .container-register-contenido {
        width: 100%;
    }

    .cont-password {
        display: block;
        width: 305px;
        margin-left: 39px;
    }

    .cont-registrarse2 {
        margin-left: -25px;
    }

    .recaptcha {
        margin-top: 40px;
        margin-left: 50px;
    }
}